<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="fragments/header :: main-header" />
</head>
<body class="bg-secondary">

<nav th:replace="fragments/navbar :: navbar"></nav>

<div class="container">
    <div class="card text-center text-white bg-dark mb-3">
        <div class="card-header">Header</div>
        <h1 th:text="${post.title}" class="card-title"></h1>
        <p th:text="${post.body}" class="card-text"></p>
        <input type="hidden" name="post" th:value="${post.id}">
    </div>
</div>




<th:block th:replace="fragments/footer :: main-footer" />
</body>
</html>